body
{
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	height:750px;
}
#error
{
	color:red;
	text-align:center;
	font-size:40px;
}
.card-panel{
	opacity: 0.9 !important ;
	filter: alpha(opacity=50);
}
.center2{
	padding: 24px 24px 36px;
}
.bodym{
	margin-top:150px;
}
.mytext
{
	background:transparent;
	color:black;
}
.myicons
{
	font-size:150px;
	margin-bottom:50px;
}
p
{
	font-size:30px;
	color:black;
}
.mybtn
{
	background:#26a69a;
	width:100px;
	height:50px;
}
.mybtn1
{
	background:#26a69a;
	width:150px;
	height:35px;
}
.mybtn:hover
{
	background:#18867c;
}
div a
{
	color:black;
	text-decoration:none;
}