body
{
	background:#0097a7;
	height:750px;
}
.error
{
	display:none;
	text-align:center;
}
.myinput
{
	border-radius:45px;
	background:#fff;
	height:47px;
	box-shadow: 0px 10px 35px 10px  #00000033;
	-webkit-shadow:0px 10px 35px 10px #00000033;
	padding:20px;
}
.mybtn
{
	border-radius:45px;
	margin:0px auto;
	width:100px;
	box-shadow: 0px 10px 35px 10px  #00000033;
	-webkit-shadow:0px 10px 35px 10px #00000033;
	outline:none;
	border:none;
}
#button11 {
  -vendor-animation-duration: 10s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
